.main{
    margin-left:21%;
}
.cards{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:5%;
    text-align:center;

}
.card-single{
    display:flex;
    justify-content:space-between;
    background:white;
    border-radius:5%;
    box-shadow: 0px 8px 40px -10px rgba(13,28,39,0.6);
    text-align:center;
    padding-right:5%;
    padding-top:3%;
    padding-bottom:2%;
}
.card-single1{
    display:flex;
    justify-content:space-between;
    background:white;
    border-radius:5%;
    box-shadow: 0px 8px 40px -10px rgba(13,28,39,0.6);
    text-align:center;
    padding-right:5%;
    padding-top:3%;
    padding-bottom:2%;
}
.card-single div:first-child span{
    font-size:100%;
    color:#95705F;
    box-shadow: 30%;
    margin-left:104%;
    
}
.card-single div:last-child span{
    font-size:200%;
    padding-right:10%;
    padding-top:10%;
    color:#95705F;
    margin-top:5%;
    margin-right:5%;
}
.card-single1 div:first-child span{
    font-size:100%;
    color:#95705F;
    box-shadow: 30%;
    margin-left: 200%;
    
}
.card-single1 div:last-child span{
    font-size:200%;
    padding-right:10%;
    padding-top:10%;
    color:#95705F;
}
#fixedNav {
    position: fixed;
    z-index:5;
    width: 100%;
    top: 0;
    left:0;
}
.topnav {
    background-color: #95705F;
    margin-left:19%;
    overflow:hidden;
    height:7%;
    margin-top:0;
}
.topnav a {
    color: #f2f2f2;
    padding:1% 1%;
    text-decoration: none;
    font-size: 17px;
    margin-left:2%;
    font-family: "Lucida Handwriting", cursive;
    margin-top:2%;

}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.name{
    float:right;
    color:white;
    padding: 1% 1%;
    margin-right:5%;
    font-family: "Lucida Handwriting", cursive;
    font-size:150%;
}
.card-single h1{
    margin-left:140%;
}
.card-single1 h1{
    margin-left:230%;
}