label{
    color: black;
    font-weight:500;
}

input[type="text"]{
    border-radius: 50px;
}

/*Space between each Line in the card*/
#margin-bottom{
    margin-bottom:6%;
}

/*Space between Textfield and labels form the borders*/
#centerEditForm{
    padding: 2%;
}

.card {
  box-shadow: 0px 4px 8px 3px #eeeded;
  width: 65%;
  margin-top: 7%;
  margin-left: 18%;
  text-align: left;
  font-weight: bold;
  border-radius:10px;
  background: #fcfcfb;
  margin-bottom: 10%;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background: #C1A89F;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius:20px;
}

.card button:hover {
  opacity: 0.9;
  background-color: #95705F;
}

.card-title {
    font-weight:400;
    font-size:250%;
    color:black;
    margin-bottom: 4%;
 }
