body{
    background:#f8f4e1;
}
.box-1{
    text-align: center;
    position: relative;
}
.FAQ-row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    max-height: 70%;
    max-width: 230%;
}
.FAQBox{
    width:230%;
    justify-content: left; 
    height:70%;
    margin-top:1% ;
    margin-bottom:5%;
    margin-left:17%;
}
label{
    font-size:120%;
}
textarea{
    display:flex;
    border-radius: 2%;
    border-color:#99725f;
    margin-bottom: 3%;
    margin-right: 3%;
    height:120%;
    
}
.FAQName{
    margin-top: 5%;
    margin-left:5%;
}
input[type="submit"]{
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:2px;
    color:white;
    outline: 2px solid white;
    padding:1% 2%;
    position:relative;
    overflow:hidden;
    transition:color 1s;
}
input:hover[type="submit"]{
    color:#f8f4e1;
}
.button{
    display:flex;
    justify-content:center;
}
#updateFAQ{
    border-radius: 50px;
    border-color:#99725f;
    margin-top:-5%;
    margin-bottom: 7%;
    margin-left: 5%;
    text-align: center;
    cursor: pointer;
    background: white;
}
.cardBorders{
    margin-bottom:-7%;
}