body{
    background:#f8f4e1;
}
.box-1{
    margin-top:5%;
    text-align: center;
    position: relative;
}

.FAQ-row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 22%;
    max-height: 60%;
}
.card{
    width:220px;
    height:240px;
}
.card-body{
    margin:auto;
    /* width:220px;
    height:240px; */
}

a{
    color: black;
}

.icons{
    color: #606060;
    margin: 15%;
}
img {
    margin-left: 25%;
    margin-top: 10%;
    width: 35%;
    height: 35%;
  }

.card-title{
    margin-top: 30%;
}
