/* .jumbotron{
    background-color:#cbc;
} */

/*___________ navigation bar ___________*/
.navbar-expand-lg {
    background-color:  #d2b7a4;
}
.navbar-brand{
    font-family: "Lucida Handwriting", cursive;
    font-size: 24;
    position: absolute;
    margin-left: 40%;
}

  
  /*___________ Search bar ___________*/

  .button {
	/* display: inline-block; */
    height: 100%;
    width: 100%;
	background-color: #d2b7a4;
    justify-content: center;
}

  .search-container {
	position: relative;
	display: inline-block;
	/* margin: 4px 2px; */
	height: 40px;
	width: 40px;
	vertical-align: bottom;
}

.search-icon-btn {
    color: #ffffff;
	margin-top: 30%;
    margin-left: 20%;
}

#searchright.search.expandright{
    border-radius: 20px;
}
.search:focus + .search-icon-btn {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	/* background-color: green; */
	color: black;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}

  .cart-icon{
      margin-right: 2%;
  }

  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }

  /*_______________________________*/
/*____________ footer___________ */

.footer-container {
    text-align: center;
    padding: 3px;
    background-color: #d2b7a4;
    height: 20%;

  }

  small{
      color:#95705F
  }


/*______________ categories cards _____________*/
*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    line-height: 1.15;
}

body{
    font-family: 'roboto', sans-serif;
    color: #000000;
    font-weight: 400;
    background-color: #ffffff;
    /* background-color: #ece8e5; */
    max-width: 100%;
}

.index{
    color: #ffffff;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}

.whatver:hover{
    color: #D3BCB4;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}

.container-1{
    width: 100%;
    padding-right:15px ;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row-1{
    /* display: flex; */
    margin-left: 1%;
    margin-right: 1%;
    width: 100%;
    height: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}
.column{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}
.section-title{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2%;
    left: 0;
    background: #ece8e5;
}
.effect{
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.effect .effect-img{
    font-size: 0;
    overflow: hidden;
}
.effect .effect-img img{
    width: 100%;
    height: auto;
    transition: all .3s;
}
.effect:hover .effect-img img{
    transform: scale(1.2);
}

.effect-img a[href]::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.effect .effect-text{
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    transition: all .3s ease-in;
    opacity: 0;
}
.effect .effect-text .inner{
    position: absolute;
    padding: 15px;
    z-index: 1;
}
.effect .effect-text:before,
.effect .effect-text:after{
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    content: '';
}
.effect .effect-text:before{
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    left: -100%;
    top: 0;
}
.effect .effect-text:after{
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    left: 100%;
    bottom: 0;
}
.effect:hover .effect-text{
    opacity: 1;
}
.effect:hover .effect-text:after,
.effect:hover .effect-text:before{
    animation-delay: .1s;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.effect:hover .effect-text:after{
    animation-name: left-up;
}
.effect:hover .effect-text:before{
    animation-name: right-dn;
}
@-webkit-keyframes left-up {
    0% {
        left: 100%;
        height: 0;
    }
    50% {
        left: 0;
        height: 0;
    }
    100% {
        height: 100%;
        left: 0;
    }
}
@-webkit-keyframes right-dn {
    0% {
        left: -100%;
        height: 0;
    }
    50% {
        left: 0;
        height: 0;
    }
    100% {
        height: 100%;
        left: 0;
    }
}
.effect .effect-text h2{
    height: 45px;
    color: #ffffff;
    font-size: 25px;
    margin: 0;
}
.effect .effect-text p{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
}
.effect .effect-btn .btn{
    display: inline-block;
    height: 35px;
    padding: 7px 15px;
    color: #333333;
    background: #ffffff;
}

@media (min-width:992px){
    .container-1{
        max-width: 960px;
    }
    .column{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

/*_______________ slide show _______________*/

  .pic-wrapper {
    position: relative;
    width: 95%;
    height: 80%;
    margin-left: 1%;
    padding-left: 3%;
    padding-right: 3%;
    overflow: hidden;
  }

  p{
    font-family: "Sans-serif", Verdana;
    font-style: italic;
      font-size: 240%;
      color: #95705F;
  }

  .center{
    margin-left: 40%;
    justify-content: center;
    align-items: center;
  }
  figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    opacity: 0;
    margin-left: -30;
    /* padding-left: 4%; */
    padding-bottom: 50%;
    padding-top: 5%;
    /*animation*/
    
    animation: slideShow 24s linear infinite 0s;
    -o-animation: slideShow 24s linear infinite 0s;
    -moz-animation: slideShow 24s linear infinite 0s;
    -webkit-animation: slideShow 24s linear infinite 0s;
  }


  .pic-1 {
    opacity: 1;
    background: url(1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    background-size: cover;
  }
  .pic-2 {
    animation-delay: 6s;
    -o-animation-delay: 6s;
    -moz--animation-delay: 6s;
    -webkit-animation-delay: 6s;
    background: url(2.jpg) no-repeat center center;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
  }
  .pic-3 {
    animation-delay: 12s;
    -o-animation-delay: 12s;
    -moz--animation-delay: 12s;
    -webkit-animation-delay: 12s;
    background: url(3.jpg) no-repeat center center;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
  }
  .pic-4 {
    animation-delay: 18s;
    -o-animation-delay: 18s;
    -moz--animation-delay: 18s;
    -webkit-animation-delay: 18s;
    background: url(4.jpg) no-repeat center left;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    margin-bottom: 10%;
  }

  @keyframes 
slideShow {  
    0% {
     opacity: 0;
     transform:scale(1);
     -ms-transform:scale(1);
    }
    5% {
    opacity: 1
    }
    25% {
    opacity: 1;
    }
    30% {
    opacity: 0;
    transform:scale(1.1);
    -ms-transform:scale(1.1);
    }
    100% {
    opacity: 0;
    transform:scale(1);
    -ms-transformm:scale(1);
    }
}

