body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #333;
    text-align: left;
    background-color: #f8f4e1;
}

.mt-50 {
    margin-top: 0px;
}

.mb-50 {
    margin-bottom: 50px;
}

.bg-teal-400 {
    background-color: #26a69a;
}

.fa {
    color: grey;
}

.container {
    margin-left: 30%;
    margin-bottom: 2%;
}

.profile-card {
    margin-bottom: 30%;
}

.row {
    padding-left: 23%;
    width: 200%;
}

#addProduct {
    border: none;
    outline: 0;
    padding: 1%;
    color: white;
    background: #d2b7a4;
    text-align: center;
    cursor: pointer;
    /* height: 20px; */
    width: auto;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 5%;
    margin-left: 36%;
}

#editProduct {
    border: none;
    outline: 0;
    padding: 1%;
    color: white;
    background: #d2b7a4;
    text-align: center;
    cursor: pointer;
    height: 40px;
    width: 120px;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 40%;
    margin-left: 36%;
    margin-right: 40%;
}

#addProduct:hover {
    opacity: 0.9;
    background-color: #95705F;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background: #d2b7a4;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 50px;
    margin-top: 5%;
}

.card button:hover {
    opacity: 0.9;
    background-color: #95705F;
}

.btn {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #d2b7a4;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 18%;
}

.btn1 {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #d2b7a4;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
    margin-top: 5%;
}