body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #333;
    text-align: left;
    background-color: #f8f4e1;
}
.mt-50 {
    margin-top: 50px;
}
.mb-50 {
    margin-bottom: 50px;
}
.bg-teal-400 {
    background-color: #26a69a;
}
.fa {
    color: grey;
}
.container{
    margin-left:30%;
}
.row{
    width: 100%;
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background: #d2b7a4;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius:50px;
    margin-top:5%;
  }
.card button:hover {
    opacity: 0.9;
    background-color: #95705F;
  }
.btn{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #d2b7a4;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius:50px;
    margin-top:5%;
    margin-left:18%;
}
.btn1{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #d2b7a4;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius:50px;
    margin-top:5%;
}